# Node modules
node_modules/

# Environment files
.env
.env.local
.env.development
.env.production

# Logs
logs
*.log

# OS files
.DS_Store

# Build folders
dist/
build/
.next/
out/

# Zip files
*.zip

# Coverage
coverage/

# Sensitive files
godachi-backend/godachi-service-account-credentials.json

# Optional (VS Code)
.vscode/